.input-component:focus {
  outline-style: none !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-1jx9akp).ant-input-number-outlined {
  outline-style: none !important;
  box-shadow: none !important;
}

.input-component {
  :where(.css-dev-only-do-not-override-1w3qf29).ant-input-outlined:focus,
  :where(
      .css-dev-only-do-not-override-1w3qf29
    ).ant-input-outlined:focus-within {
    outline-style: none !important;
    box-shadow: none !important;
  }
}
