:where(.css-dev-only-do-not-override-1jx9akp).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  box-shadow: none !important;
  text-align: left !important;
}

.select-component .ant-select-selection-item {
  text-align: left !important;
}

.select-component .ant-select-item {
  text-align: left !important;
}
