@use "../../styles/colors" as colors; /* Import the color variables */

.ant-modal-title {
  background-color: colors.$primary-color;
}

.ant-modal-content {
  border-radius: 8px !important;
  overflow: hidden;
}
