@use '../../styles/colors' as colors; /* Import the color variables */
@use '../../styles/fontSize' as fontSize;
.layout-dairy {
  .sider-dairy {
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  :where(.css-dev-only-do-not-override-6wrocv).ant-menu-light
    .ant-menu-item-selected,
  :where(.css-dev-only-do-not-override-6wrocv).ant-menu-light
    > .ant-menu
    .ant-menu-item-selected {
    background-color: #cfcfcf;
  }
  :where(.css-dev-only-do-not-override-1jx9akp).ant-menu-light
    .ant-menu-item-selected,
  :where(.css-dev-only-do-not-override-1jx9akp).ant-menu-light
    > .ant-menu
    .ant-menu-item-selected {
    background-color: #dedede;
  }
  :where(.css-dev-only-do-not-override-1jx9akp).ant-layout-sider
    .ant-layout-sider-children
    .ant-menu.ant-menu-inline-collapsed
    .ant-menu-item {
    padding: 0;
    svg {
      width: 100%;
      margin: 10% 0;
      font-size: fontSize.$fontIcon;
    }
  }
  :where(.css-dev-only-do-not-override-1jx9akp).ant-menu-light.ant-menu-inline
    .ant-menu-item {
    svg {
      font-size: fontSize.$fontIcon;
    }
  }
  :where(.css-dev-only-do-not-override-1jx9akp).ant-menu-inline.ant-menu-root
    .ant-menu-submenu-title {
    svg {
      font-size: fontSize.$fontIcon;
    }
  }
  :where(.css-dev-only-do-not-override-1jx9akp).ant-menu-vertical
    > .ant-menu-submenu
    > .ant-menu-submenu-title {
    padding: 0;
    svg {
      width: 100%;
      margin: 10% 0;
      font-size: fontSize.$fontIcon;
    }
  }
  :where(.css-dev-only-do-not-override-1jx9akp).ant-menu-light.ant-menu-inline
    .ant-menu-item {
    margin-bottom: 10px;
  }
  :where(.css-dev-only-do-not-override-1jx9akp).ant-menu .ant-menu-submenu {
    margin-bottom: 10px;
  }
}
