@import "../../styles/colors"; /* Import the color variables */

.table {
  .ant-table-thead tr th {
    background-color: $primary-color !important;
    color: white !important;
    border-collapse: collapse !important;
    border-color: $primary-color !important;
  }

  .ant-input-search
    :where(.css-dev-only-do-not-override-1jx9akp).ant-input-group
    .ant-input-affix-wrapper:not(:last-child) {
    border: 1px solid $primary-color;
  }
}
