@use '../../styles/colors' as colors;

.table {
  overflow-x: auto !important;
  .ant-table-thead tr th {
    background-color: colors.$primary-color !important;
    color: white !important;
    border-collapse: collapse !important;
    border-color: colors.$primary-color !important;
  }

  .ant-input-search
    :where(.css-dev-only-do-not-override-1jx9akp).ant-input-group
    .ant-input-affix-wrapper:not(:last-child) {
    border: 1px solid colors.$primary-color;
  }
}
