@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-table-column-sorter,
.ant-table-filter-trigger {
  color: rgb(203, 203, 203) !important;
}

/* Hover state */
.ant-table-column-sorters:hover .ant-table-column-sorter,
.ant-table-filter-trigger:hover {
  color: rgb(203, 203, 203) !important;
}

/* Active (clicked) state */
.ant-table-column-sorters[aria-sort],
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active,
.ant-table-filter-open .ant-table-filter-trigger {
  color: white !important;
}

.custom-table .ant-table-thead > tr > th {
  border: none !important;
}

.custom-table .ant-table-tbody > tr > td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
