@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-table-column-sorter,
.ant-table-filter-trigger {
  color: rgb(203, 203, 203) !important;
}

/* Hover state */
.ant-table-column-sorters:hover .ant-table-column-sorter,
.ant-table-filter-trigger:hover {
  color: rgb(203, 203, 203) !important;
}

/* Active (clicked) state */
.ant-table-column-sorters[aria-sort],
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active,
.ant-table-filter-open .ant-table-filter-trigger {
  color: white !important;
}

.custom-table .ant-table-thead > tr > th {
  border: none !important;
}

.custom-table .ant-table-tbody > tr > td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
tr.ant-table-measure-row {
  visibility: collapse;
}

/* Ghim màu nền + text khi hover và không hover */
.ant-table-tbody > tr.row-error {
  border: 1px solid rgba(255, 0, 0, 0.7) !important; /* red-500 */
  color: black !important;
}
.error-row > td {
  border-right: 1px solid rgba(255, 0, 0, 0.7) !important;
  border-bottom: 2px solid rgba(255, 0, 0, 0.7) !important;
  border-top: 2px solid rgba(255, 0, 0, 0.7) !important;
  color: black;
}

.error-row > td:first-child {
  border-left: 2px solid rgba(255, 0, 0, 0.7) !important;
}
.error-row > td:last-child {
  border-right: 2px solid rgba(255, 0, 0, 0.7) !important;
}

.ant-table-tbody > tr.deleted-row {
  background-color: rgba(200, 200, 200, 0.2); /* Nền xám nhạt cho hàng bị xóa */
  text-decoration: line-through; /* Giữ gạch ngang */
}

.schedule-table .first-row > td {
  border-bottom: 1px solid black !important;
}

.schedule-table .first-row > td:first-child {
  border-bottom: 1px solid black !important;
}

.schedule-table .first-row > td:first-child {
  padding: 10px 0px;
  background: linear-gradient(
    to bottom,
    #ffdd54,
    #f6e598,
    #fffbcd,
    #f6e598,
    #ffdd54
  ) !important;
}

.schedule-table .second-row > td:first-child {
  padding: 10px 0px;
  background: linear-gradient(
    to bottom,
    #74a8fb,
    #9dc8ff,
    #add1ff,
    #9dc8ff,
    #74a8fb
  ) !important;
}

.table-milk-batch {
  .row-disabled .ant-checkbox-inner {
    background-color: #e0e0e0 !important;
    border-color: #bfbfbf !important;
  }
}
